* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 900px;
}

h1 {
    background-color: darkslategray;
    color: gainsboro;
    padding: 10px;
}

form {
    padding-top: 12px;
    background-color: gainsboro;
    color: black;
}

legend {
    border: 1px solid black;
    padding: 3px;
    text-align: left;
    margin-left: 45px;
    background-color: darkslategrey;
    color: gainsboro;
}

fieldset {
    border: 1px solid black;
    margin: 8px 25px;
    padding-bottom: 10px;
}

label {
    display: block;
    margin: 15px 15px 0px 15px;
}

.question-number {
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 1.25rem;
    color: darkslategray;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 50%;
}

input, textarea {
    margin: 8px;
    border-radius: 0.3rem;
    padding: 4px;
    font-size: 1.08rem;
    width: 45%;
}

textarea {
    resize: vertical;
}

.radioswitch {
    display: flex;
    justify-content: space-between;
    margin: 0 175px;
    
}

button {
    padding: 4px;
    width: 80%;
    height: 40px;
    background-color: darkslategray;
    color: gainsboro;
    margin: 15px;
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: larger;
}

button:hover {
    background-color: blanchedalmond;
    color: black;
    
}
