:root {
    --theme_color: darkblue;
    --border-specs: 1px solid black;
    --default-shadow: 0 0 30px gray;
    --text-color: white;
}

nav {
    background-color: var(--theme_color);
    padding: 10px;
}

nav a {
    color:var(--text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--theme_color);
}

img {
    width: 150px;
    height: auto;
    border: var(--border-specs);
    padding: 2px;
    box-shadow: var(--default-shadow);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-specs);
    padding: 2px;
    box-shadow: var(--default-shadow);
}

aside{
    width: 100%;
    margin: 20px 0;
    border: var(--border-specs);
    padding: 15px;
    background-color: #234567;
    color: var(--text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: var(--border-specs);
    text-align: center;
}
