* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme_color: darkblue;
    --border-specs: 1px solid black;
    --default-shadow: 0 0 30px gray;
    --text-color: white;
}

img {
    width: 150px;
    height: auto;
    border: var(--border-specs);
    padding: 2px;
    box-shadow: var(--default-shadow);
}

p {
    padding: 0;
}

header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav {
    background-color: var(--theme_color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
}

nav a {
    color:var(--text-color);
    display: block;
    padding: 10px 60px 10px 60px;
    border: 2px solid white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 510;
}

h1 {
    color: var(--theme_color);
    padding: 5px; /**/
    border-bottom: 3px solid gray;
    margin-bottom: 1rem;
}
main {
    max-width: 840px;
    padding-left: 1rem;
    grid-column-start: 2;
    grid-column-end: span 2;
    
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-specs);
    padding: 2px;
    box-shadow: var(--default-shadow);
    float: right;
    margin: 0 0 1rem 1rem;

}

ul li a{
    color: var(--text-color);/**/
    padding: 4px;
}

aside{
    text-align: center;
    position: relative;
    order: -1;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 23px;
    left: 92px;
}

footer {
    margin-top: 20px;
    border-top: var(--border-specs);
    text-align: center;
}

/* Class Selectors */
.box{
    margin: 0 auto;
    margin-top: 1rem;
    border: var(--border-specs);
    padding: 1rem;
    color: var(--text-color);
    background-color: var(--theme_color);
}

.indent {
    padding-left: 2rem;
}